name: Bump version
on:
  push:
    branches:
      - main

# Grant the GITHUB_TOKEN permissions to write content
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # Use a more recent version
        with:
          fetch-depth: '0'
      - name: Bump version and push tag
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: "patch"
